[submodule "targets/stm32/STM32CubeH7"]
	path = targets/stm32/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
[submodule "external/FreeRTOS-Kernel"]
	path = external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/lwip"]
	path = external/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "external/lwip-contrib"]
	path = external/lwip-contrib
	url = https://git.savannah.nongnu.org/git/lwip/lwip-contrib.git
[submodule "external/littlefs"]
	path = external/littlefs
	url = https://github.com/littlefs-project/littlefs.git
